<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            body { font-family: Arial, sans-serif; }
            .container { padding: 20px; }
        </style>
    </head>
    <body>
        <div class="container">
            {{body}}
        </div>
    </body>
</html>