<div class="page">
    <div class="page-header">
        <h1>Items</h1>
        <a routerLink="/item/new">+ Create</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created Date</th>
                <th *ngIf="auth.getRole() === 'admin'">Actions</th>
            </tr>
        </thead>

        <tbody *ngFor="let item of items">
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.createdAt | date:'short' }}</td>
            <td *ngIf="auth.getRole() === 'admin'">
                <a [routerLink]="['/item', item.id, 'edit']">Edit</a>
                <button (click)="delete(item)">Delete</button>
            </td>
        </tbody>
    </table>
</div>