<div class="page">
    <mat-toolbar class="page-header custom-header">
        <div class="title-group">
            <span class="page-title">Update Item</span>
        </div>
    </mat-toolbar>

    <div *ngIf="loading" class="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <mat-card *ngIf="!loading" class="form-card">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
                <mat-error *ngIf="form.get('name')?.hasError('required')">
                    Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description</mat-label>
                <textarea matInput rows="3" formControlName="description"></textarea>
            </mat-form-field>

            <div class="form-actions">
                <button mat-flat-button color="primary"
                type="submit" [disabled]="form.invalid">
                    Update
                </button>

                <button mat-button routerLink="/item" type="button">
                    Cancel
                </button>
            </div>
        </form>
    </mat-card>
</div>